.churchContent{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: gray url("../../img/church.jpg") center no-repeat;
    /*background-size: 100% 100%;*/
    /*background-size: contain;*/
    background-size: cover;
}

.priestDiv{
    position: absolute;
    margin: 56% 0 0 63.5%;
    height: 15%;
    width: 8%;
    background: red;
    opacity: 0.3;
}

.glow{
    cursor: pointer;
    background: transparent url("../../img/glow/glow3.gif") no-repeat;
    background-size: 100% 100%;
    opacity: 0.4;
}
