.clipPathContent{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}



.clipDiv {
    position: absolute;
    /*opacity: 0.5;*/
    height: 90%;
    width: 90%;
    margin: 11% 0 0 0;
}

.cd0 {
    background-color: #c6ab9c;
    clip-path: polygon(66% 8%, 71% 14%, 72% 17%, 76% 28%, 74.5% 32%, 77.7% 38%, 79.5% 42%, 80% 44%, 79% 46%, 78% 47%, 74% 47%, 75% 50%, 74% 52%, 71% 53%, 74% 55%, 74% 57%, 72% 59%, 71% 62%, 71% 67%, 66% 70%, 57% 68%, 45% 56%, 57% 73%, 56% 74%, 55% 67%, 45.5% 78%, 44% 81%, 42% 85%, 37% 88%, 35% 89%, 29% 90%, 24% 82%, 19% 72%, 16% 63%, 19% 55%, 20% 48%, 22% 38%, 24% 22%, 45% 7%, 53% 4%);
}

.cd2 {
    background-color: #90807d;
    clip-path: polygon(63% 47%, 61% 49%, 60% 52%, 60% 54%, 60% 56%, 61% 58%, 62% 59%, 61% 56%, 61% 55%, 61% 53%, 61% 53%, 63% 53%, 66% 53%, 75.2% 51.8%, 76% 49%);
}

.cd3 {
    background-color: #90807d;
    clip-path: polygon(72% 43%, 72% 42.5%, 74% 42%, 76% 43%, 77% 44%, 77% 45%, 76% 45%, 74% 43.5%);
}

.cd4{
    background-color: #90807d;
    clip-path: polygon(72% 38%, 73% 39%, 71% 39%, 69% 40%, 69% 41%, 70% 43%, 67% 42%, 67% 41.4%);
}

.cd5 {
    background-color: #90807d;
    clip-path: polygon(72% 26%, 69% 30%, 70% 34%, 66% 36%, 62% 35%, 66% 34%, 67% 32%, 63% 32%, 62% 31%, 66% 31%, 67% 30%, 65% 28%, 60% 28%, 56% 29%, 58% 26%, 61% 25%, 62% 23%, 64% 22%, 69% 23%);
}

.cd6 {
    background-color: #90807d;
    clip-path: polygon(34% 34%, 34% 33%, 30% 37%, 32% 38%, 33% 40%, 34% 38%, 33% 36%);
}

.cd7 {
    background-color: #90807d;
    clip-path: polygon(32% 31%, 32% 33%, 30% 36%, 28% 37%, 28% 35%, 29% 33%);
}

.cd8 {
    background-color: #90807d;
    clip-path: polygon(32% 30%, 30% 29%, 30% 28%, 29% 28%, 27% 28%, 25% 29%, 25% 32%, 25% 34%, 27% 38%, 25% 35%, 24% 32%, 24% 30%, 25% 28%, 26% 27%, 28% 26%, 30% 27%, 31% 28%, 32% 29%);
}

.cd9 {
    background-color: #90807d;
    clip-path: polygon(24% 38%, 27% 41%, 29% 42%, 31% 44%, 32% 44%, 33% 43%, 33% 44%, 32% 45%, 31% 46%, 30% 46%, 29% 44%, 25% 41%, 23% 40%);
}

.cd10 {
    background-color: #90807d;
    clip-path: polygon(56% 72%, 48% 61%, 39% 51%, 35% 50%, 32% 51%, 32% 55%, 33% 62%, 34% 69%, 37% 74%, 39% 78%, 43% 79%, 45% 79%, 48% 76%);
}

.cd11 {
    background-color: black;
    clip-path: polygon(67% 29%, 66% 28%, 64% 28.5%, 62% 28%, 61% 27%, 61% 27%, 63% 26%, 66% 26%, 68% 27%, 68% 28%);
}

.cd12 {
    background-color: cyan;
    clip-path: polygon(61% 27%, 63.5% 26.5%, 65% 26.5%, 67% 27%, 67.5% 29%,  66% 29%, 63% 28%);
}




.cd20 {
    background-color: #3a2722;
    clip-path: polygon(73% 58%, 75% 63%, 76% 69%, 75% 75%, 73% 80%, 72% 79%, 70% 81%, 67% 82%, 66% 82%, 63% 82%, 65% 78%, 59% 79%, 60% 77%, 57% 76%, 51% 71%, 38% 61%, 33% 48%, 36% 41%, 38% 37%, 37% 31%, 37% 28%, 32% 26%, 27% 25%, 24% 27%, 23% 30%, 23% 35%, 25% 39%, 26% 41%, 24% 46%, 20% 50%, 19% 47%, 18% 37%, 19% 28%, 21% 19%, 23% 13%, 29% 7%, 35% 4%, 40% 3%, 38% 5%, 46% 2%, 52% 1%, 61% 2%, 67% 5%, 70% 10%, 72% 15%, 71% 14%, 72% 18%, 70% 14%, 67% 11%, 63% 9%, 58% 7%, 53% 7%, 50% 7%, 54% 9%, 57% 11%, 53% 10%, 51% 9%, 54% 12%, 52% 11%, 54% 15%, 52% 18%, 48% 21%, 45% 22%, 44% 28%, 43% 28%, 42% 29%, 40% 28%, 41% 33%, 43% 38%, 43% 35%, 45% 40%, 46% 36%, 49% 46%, 50% 44%, 51% 49%, 52% 47%, 55% 50%, 57% 57%, 57% 56%, 58% 60%, 58% 64%, 60% 63%, 62% 66%, 63% 65%, 66% 67%, 68% 67%, 69% 65%, 69% 59%);
}

.cd21 {
    background-color: #3a2722;
    clip-path: polygon(65% 45%, 63% 46%, 62% 48%, 62% 50%, 64% 49%, 65% 50%, 65% 49%, 66% 50%, 68% 49%, 70% 50%, 71% 49%, 72% 49%, 74% 49%, 75% 50%, 73% 52%, 73% 54%, 74% 52%, 75% 52%, 76% 50%, 77% 49%, 76% 47%, 73% 45%, 71% 44%, 68% 45%);
}

.cd22 {
    background-color: #3a2722;
    clip-path: polygon(74% 25%, 73% 27%, 71% 28%, 70% 26%, 68% 24%, 65% 23%, 63% 22%, 59% 23%, 65% 21%, 70% 22%);
}

.cd23 {
    background-color: #3a2722;
    clip-path: polygon(75% 27%, 74% 31%, 75% 33%, 76% 31%, 76% 29%);
}
.cd24 {
    background-color: #dbd3db;
    clip-path: polygon(63.6% 52%, 64.3% 52.5%, 72% 55%, 72.5% 55%, 73% 53%);
}

.cd25 {
    background-color: #e1e9f1;
    clip-path: polygon(63% 51.2%, 73% 50.5%, 73.2% 50.6%, 73.3% 52%, 73.4% 53.8%, 73% 54%, 68% 53.6%, 64.3% 52.5%, 63.5% 52%);
}

.cd26 {
    background-color: #ffa0b9;
    clip-path: polygon(65% 51%, 71% 50.2%, 73% 50.5%, 72.5% 51.5%, 72% 50.6%, 71.5% 50.6%, 71% 51.8%, 70% 50.7%, 69% 51%, 68.5% 52%, 68% 51.2%, 67% 51%, 66% 51.5%, 65.8% 52%);
}
