.wideDiv{
    float: left;
    width: 100%;
    height: 15%;
}

.narrowDiv{
    float: left;
    width: 10%;
    height: 15%;
}

#dungeon{
    /*border-radius: 5%;*/
    position: absolute;
    overflow: hidden;

    /*top: 0; bottom: 0; left: 0; right: 0;*/
    height: 100%;
    width: 100%;
    background: #bbb;
    /*background: #333;*/
    background: transparent url("../../img/cave3.jpg") no-repeat;
    background-size: 100% 100%;
}

#battleGround {
    /*padding-top: 10em;*/
    border-radius: 5%;
    width: 95%;
    height: 70%;
    margin: 5% auto 0 auto ;
    /*background: #666666;*/
}


.resourcesDiv{
    width: 100%;
    height: 20%;
    padding: 0;
    /*background: #333;*/
    /*background: greenyellow;*/
}

.potionsDiv{
    float: left;
    /*padding: 2% 0 0 2%;*/
    margin: 0;
    height: 100%;
    width: 40%;
    /*background: rebeccapurple;*/
}

.potionDiv{
    float: left;
    height: 50%;
    width: 17%;
    margin: 1%;
    /*cursor: pointer;*/
    background: transparent url("../../img/potion/potion_bubbles.png") no-repeat;
    background-size: 100% 100%;
}

.emptyPotionDiv{
    background: transparent url("../../img/potion/potion_empty.png") no-repeat;
    background-size: 100% 100%;
}

.pointer{
    cursor: pointer;
}

.chargeDiv {
    background: gray;
    height: 10%;
    width: 80%;
    margin: 35% 20% 10% 6%;
    padding: 1%;
}

.potionChargeValueDiv{
    background: red;
    height: 100%;
}

.bowDiv{
    z-index: 1;
    cursor: pointer;
    position: absolute;
    float: left;
    margin: -10% 0 0 35%;
    height: 30%;
    width: 30%;
    cursor: pointer;
    background: transparent url("../../img/bow.png") no-repeat;
    background-size: 100% 100%;
}

.bowDiv.frame2{
    transform: translateX(-5%) translateY(5%);
    background: transparent url("../../img/bowFrames/1.png") no-repeat;
    background-size: 100% 100%;
}

.bowDiv.frame3{
    transform: translateX(-3%) translateY(3%);
    background: transparent url("../../img/bowFrames/2.png") no-repeat;
    background-size: 100% 100%;
}

.bowDiv.frame4{
    transform: translateX(-1%) translateY(1%);
    background: transparent url("../../img/bowFrames/3.png") no-repeat;
    background-size: 100% 100%;
}

.tranqsDiv{
    float: right;
    margin: 0;
    height: 100%;
    width: 40%;
    /*background: rebeccapurple;*/
}

.tranqDiv{
    z-index: 2;
    cursor: pointer;
    float: left;
    /*margin: 0;*/
    height: 70%;
    width: 20%;
    background: transparent url("../../img/tranqDarts/tranqDart2.png") no-repeat;
    background-size: 100% 100%;
}

.spentTranqDiv{
    background: transparent url("../../img/tranqDarts/tranqDart_depleted.png") no-repeat;
    background-size: 100% 100%;
}



.tranqChargeValueDiv{
    background: #21c300;
    height: 100%;
}


.attackDiv{
    position: absolute;
    margin: 35% 0 0 40%;
    padding-top: 3%;
    height: 20%;
    width: 20%;

    background: black url("../../img/attack/attack_crop_round.png") center no-repeat;
    /*background-size: 90% 90%;*/
    /*border-radius: 5%;*/

    background-size: 100% 100%;
    border-radius: 50%;
    /*border: solid black;*/
    /*border-width: 1%;*/


    cursor: pointer;
}

.attackDiv h1{
    padding-top: 20%;
    text-align: center;
    color: white;
    font-weight: bold;
}

.infoDiv{
    position: absolute;
    padding: 2%;
    /*margin: 5% 0 0 5%;*/
    height: 20%;
    width: 50%;

    color: white;

    /*border-radius: 1em;*/
    /*background: #c7bf8d;*/
}

#glodSpan{
    color: gold;
}

#monster{
    height: 45%;
    width: 35%;
    margin: 30% 5% 0 0;
    float: right;
}

.monsterPicture{
    height: 100%;
    width: 100%;
    /*background: transparent url("https://goo.gl/z2XAtR") bottom center no-repeat;*/
    background-size: contain;
}

.model0 {
    background: transparent url("../../img/monstrum/hexahulk.png") bottom center no-repeat;
    background-size: contain;
}

.model2 {
    background: transparent url("https://goo.gl/z2XAtR") bottom center no-repeat;
    background-size: contain;
}

.model1 {
    background: transparent url("https://goo.gl/SaLBuX") bottom center no-repeat;
    background-size: contain;
}

#ragnar{
    height: 45%;
    width: 35%;
    margin: 35% 0 0 0;
    float: left;
}

.ragnarPicture {
    height: 100%;
    width: 100%;
    background: transparent url("../../img/ragnar/ragnar_animu_wide.gif") bottom center no-repeat;
    background-size: contain;
}

.ragnarPicture.hurt{
    background: transparent url("../../img/ragnar/ragnar_hurt.png") top center no-repeat;
    background-size: contain;
}

.ragnarPicture.dead{
    background: transparent url("../../img/ragnar/ragnar_dedd.png") top center no-repeat;
    background-size: contain;
}

.gone{
    display: none;
}

.left1{
    transform: translateX(-2%);
}

.left2{
    transform: translateX(-4%);
}
.left3{
     transform: translateX(-6%);
 }

.left4{
    transform: translateX(-8%);
}

.right1{
    transform: translateX(2%);
    background: transparent url("../../img/ragnar/ragnar_attack_frame.png") bottom center no-repeat;
    background-size: contain;
}

.right2{
    transform: translateX(4%);
    background: transparent url("../../img/ragnar/ragnar_attack_frame.png") bottom center no-repeat;
    background-size: contain;
}
.right3{
    transform: translateX(6%);
    background: transparent url("../../img/ragnar/ragnar_attack_frame.png") bottom center no-repeat;
    background-size: contain;
}

.right4{
    transform: translateX(8%);
    background: transparent url("../../img/ragnar/ragnar_attack_frame.png") bottom center no-repeat;
    background-size: contain;
}


.healthBar{
    /*margin: -25% 0 0 -25%;*/
    /*margin: -25% 0 0 -25%;*/
    padding: 3%;
    width: 100%;
    height: 8%;
    background: #4d4d4d;
}

.health{
    /*width: 10%;*/
    /*margin: 12.5%;*/
    height: 100%;
    /*margin-top: 0.5em;*/
    background: red;
}


.dungeonExitDiv {
    cursor: pointer;
    position: absolute;
    right: 0;
    top:0;
    /*margin: 42% 0 0 0;*/
    /*width: 10%;*/
    border-radius: 50%;
    /*margin: 62% 0 0 0;*/
    height: 20%;
    width: 20%;
    background: transparent url("../../img/dungeonEntrance/dungeon_exit_animu_kwik.gif") no-repeat;
    background-size: 100% 100%;
}

.faceDiv {
    border-radius: 50%;
    position: absolute;
    height: 10%;
    width: 10%;
    margin: 42% 0 0 13%;
}

.faceDiv:hover{
    /*background-color: red;*/
    /*opacity: 0.4;*/
    border-radius: 50% 50% 50% 0;
    height: 70%;
    width: 55%;
    margin: 13% 0 0 13%;
    background: transparent url("https://goo.gl/zCVm8G") no-repeat;
    background-size: contain;
}

/*.faceDiv {*/
    /*border-radius: 50%;*/
    /*position: absolute;*/
    /*height: 10%;*/
    /*width: 10%;*/
    /*margin: 42% 0 0 13%;*/
/*}*/

/*.dungeonExitDiv{*/
    /*cursor: pointer;*/
    /*position: absolute;*/
    /*right: -8%;*/
    /*top:-2%;*/
    /*height: 20%;*/
    /*width: 35%;*/
    /*border-radius: 50%;*/
    /*background: transparent url("../../img/dExit.jpg") no-repeat;*/
    /*background-size: 100% 100%;*/
/*}*/