.shopContent{
    height: 100%;
    width: 100%;
    background: transparent url("../../img/shop/shop.jpg") center no-repeat;
    /*background-size: 100% 100%;*/
    background-size: contain;
}

.shopKeep{
    cursor: pointer;
    border-radius: 5em 5em 5em 0;
    position: absolute;
    height: 27.4%;
    width: 13.6%;
    margin: 25.5% 0 0 1.72%;
    background: transparent url("../../img/shop/shopkeep_faded_spin.gif") no-repeat;
    background-size: contain;
}

.shopKeep.busy{
    background: transparent url("../../img/shop/shopkeep.gif") no-repeat;
    background-size: contain;
}

.shopKeep:active{

    background: transparent url("../../img/shop/shopkeep_faded.gif") no-repeat;
    background-size: contain;
    /*display: none;*/
}


.shoppingRagnar{
    position: absolute;
    height: 50%;
    width: 30%;
    margin: 35% 0 0 40%;
    background: transparent url("../../img/ragnar/ragnar_animu.gif") no-repeat;
    background-size: contain;
    /*transform: scaleX(-1);*/
 }

.shopInventoryContent{
    position: absolute;
    width: 78%;
    height: 70%;
    margin: 15% 0 0 20%;
    background: #ffe8d0;
    /*opacity: 0.8;*/
}

.itemsDiv{
    margin: 5% auto 0 auto;
    /*background: deepskyblue;*/
    width: 85%;
    height: 22%;
}

.itemSliderButton{
    cursor: pointer;
    position: absolute;
    height: 10%;
    width: 15%;
    text-align: center;

}

.goLeftDiv{
    margin: 2.5% 0 0 0;
    background: transparent url("../../img/shop/arrow_anim.gif") bottom no-repeat;
    background-size: contain;
}

.goRightDiv{
    margin: 2.5% 0 0 70%;
    background: transparent url("../../img/shop/arrow_anim.gif") bottom no-repeat;
    background-size: contain;
    transform: scaleX(-1);
}

.itemDiv{
    cursor: pointer;
    height: 18%;
    width: 15%;
    text-align: center;
}

.itemDiv p{
    padding-top: -7%;
}

.itemDiv.item1{
    position: absolute;
    margin: 0 0 0 17.5%;
}

.itemDiv.item2{
    position: absolute;
    margin: 0 0 0 35%;

}

.itemDiv.item3{
    position: absolute;
    margin: 0 0 0 52.5%;

}

.itemPictureDiv{
    border-radius: 55%;
    height: 90%;
    width: 100%;
    background-color: red;
}

.itemDiv #item1{
    background: gray url("../../img/shop/items/1.png") bottom no-repeat;
    background-size: contain;
}

#item2{
    background: gray url("../../img/shop/items/2.png") bottom no-repeat;
    background-size: contain;
}

#item3{
    background: gray url("../../img/shop/items/3.png") bottom no-repeat;
    background-size: contain;
}

#item4{
    background: gray url("../../img/shop/items/4.png") bottom no-repeat;
    background-size: contain;
}


#item5{
    background: gray url("../../img/shop/items/5.png") bottom no-repeat;
    background-size: contain;
}


/*.playerStatus{*/
    /*margin: 5% 0 0 0;*/
    /*height: 25%;*/
    /*width: 100%;*/
    /*background-color: red;*/
 /*}*/

.ragnarPocket{
    float: left;
    margin: 0;
}

.ragnarPocket li{
    list-style: none;
}

.ragnarGlodz{
    float: left;
    margin: 0 0 0 5%;
}

.epixDiv{
    position: absolute;
    margin: 25% 0 0 0;
    background: purple;
    width: 100%;
    height: 23%;
}

.epix{
    cursor: pointer;
    padding: 5% 0;
    color: white;
    text-align: center;
    border-radius: 50%;
    float: left;
    width: 20%;
    height: 100%;
    background: darkolivegreen;
}

.emptyEpixSlot{
    border-radius: 50%;
    float: left;
    width: 20%;
    height: 100%;
    background: black
}

.glodzDiv {
    color: gold;
}

.moneybagDiv {
    position: absolute;
    width: 30%;
    height: 20%;
    bottom: -3.6%;
    left: 0;
    text-align: center;
    background: transparent url("../../img/shop/moneybag.png") bottom no-repeat;
    background-size: contain;
    padding-top: 11%;
}

.vendorGlodzDiv{
    position: absolute;
    width: 30%;
    height: 10%;
    top: 55%;
    left: -20%;
}