.shuffleGameStart{
    position: absolute;
    border-radius: 50%;
    background: transparent url("../../img/shuffle/star.png") center no-repeat;
    -webkit-background-size: contain;
    opacity: 0.2;
    background-size: contain;
    cursor: pointer;
    height: 10%;
    width: 10%;
    margin: 10% 0 0 69%;


    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.shuffleGameStart:hover {
    opacity: 1;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(90deg);
    }
}

.shuffleGameContent {
    position: absolute;
    height: 100%;
    width: 100%;
}

.shuffleGameBackground {
    position: absolute;
    height: 100%;
    width: 100%;
}

.shuffleGameBoard{
    position: absolute;
    background: transparent url("../../img/shuffle/bg.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    height: 80%;
    width: 80%;
    margin: 10% 0 0 10%;
}

.shuffleTile{
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    position: absolute;
    width: 33.33333333333333333333333333%;
    height: 33.33333333333333333333333333%;
}

.tile0{
    background: transparent url("../../img/shuffle/tiles/1.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.tile1{
    background: transparent url("../../img/shuffle/tiles/2.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.tile2{
    background: transparent url("../../img/shuffle/tiles/3.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.tile3{
    background: transparent url("../../img/shuffle/tiles/4.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.tile4{
    cursor: pointer;
    background: transparent url("../../img/shuffle/tiles/5.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;


    animation-name: jiggle;
    animation-duration: 650ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jiggle {
    0% {
        transform:rotate(-10deg);
    }
    /* Adding a step in the middle */
    50% {
        transform:rotate(5deg);
    }
    100% {
        transform:rotate(-10deg);
    }
}

@keyframes jigglez {
    from {
        transform:rotate(-20deg);
    }
    to {
        transform:rotate(20deg);
    }
}

.tile4.vibrasjonar{
    background: transparent url("../../img/shuffle/disco_skull.gif") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.tile4.finished{
    animation-duration: 150ms;
}
.tile5{
    background: transparent url("../../img/shuffle/tiles/6.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.tile6{
    background: transparent url("../../img/shuffle/tiles/7.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.tile7{
    background: transparent url("../../img/shuffle/tiles/8.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.tile8{
    background: transparent url("../../img/shuffle/tiles/9.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}


.pos1{
    top: 0;
    left: 0;
}
.pos2{
    top: 0;
    left: 33.33333333333333333333333333%;
}
.pos3{
    top: 0;
    left: 66.666666666666666666666%;
}
.pos4{
    top: 33.33333333333333333333333333%;
    left: 0;
}
.pos5{
    top: 33.33333333333333333333333333%;
    left: 33.33333333333333333333333333%;
}
.pos6{
    top: 33.33333333333333333333333333%;
    left: 66.666666666666666666666%;
}
.pos7{
    top: 66.666666666666666666666%;
    left: 0;
}
.pos8{
    top: 66.666666666666666666666%;
    left: 33.33333333333333333333333333%;
}
.pos9{
    top: 66.666666666666666666666%;
    left: 66.666666666666666666666%;
}