
.townContent{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: transparent url("../../img/town/town.jpg") center no-repeat;
    background-size: contain;
}

.shop{
    border-radius: 40%;
    overflow: visible;
    position: absolute;
    cursor: pointer;
    width: 21%;
    height: 20%;
    margin: 44% 0 0 31.8%;
    /*background: red;*/
    background: transparent url("../../img/town/shop_icon.png") no-repeat;
    background-size: 100% 100%;
    /*opacity: 0.5;*/
}

.shop:hover{
    background: transparent url("../../img/town/shop_icon_outline.png") no-repeat;
    background-size: 100% 100%;
}

.churchExteriorDiv{
    cursor: pointer;

    background: transparent url("../../img/town/church_overlay1.png") no-repeat;
    background-size: contain;
    position: absolute;
    margin: 37% 0 0 85.3%;
    height: 23%;
    width: 15%;
    /*background: red;*/
    /*opacity: 0.3;*/
}

.glow{
    /*background: transparent url("../../img/glow/glow3.gif") no-repeat;*/
    /*background-size: 100% 100%;*/
    /*opacity: 0.2;*/
}

.dungeonPath{;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    margin: 71% 0 0 1%;
    height: 20%;
    width: 20%;
    background: transparent url("../../img/dungeonEntrance/dungeon_entrance_animu_kwik.gif") no-repeat;
    background-size: 100% 100%;
}

.townContent h1{
    position: absolute;
    margin: 17% 0 0 40%;
    color: white;
    font-weight: bold;
}

.clipPathDiv {
    cursor: pointer;
    position: absolute;
    /*background-color: red;*/
    /*opacity: 0.5;*/
    height: 10%;
    width: 10%;
    margin: 11% 0 0 0;
}