.topThingDiv {
    /*position: absolute;*/
    /*z-index: 3;*/
}

.worldGoToMenuButton {
    position: absolute;
    z-index: 3;
}

.topThingDiv a {
    position: absolute;
    z-index: 3;
    /*font-size: 150px;*/
    margin-left: 16.5%;
}

#worldContent{
    height: 100%;
    width: 100%;
}



.townDiv{
    margin: 10% 0 0 0 ;
    width: 100%;
    padding-top: 55%;
    background: transparent url("../../img/village.jpg") bottom center no-repeat;
    /*background-size: 100% 100%;*/
    background-size: contain;
}


/*GEOGRAPHIX*/


