#menuDiv {
    background-color: #f555d2;
    width: 100%;
    height: 100%;
}

.menuItem {
    width: 50%;
    height: 50%;
    float: left;
    cursor: pointer;
}

#patternDiv {
    background: white url("../img/heckledook.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

#gameDiv {
    background: white url("../img/grid.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

#galleryDiv {
    background: white url("../img/ONE_CITY_crop.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

#dungeoneerDiv {
    background: white url("../img/ragnar/ragnar_happy.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
