.noiseBoxContent {
    border-radius: 0.2em;
    position: absolute;

    background: transparent url("../img/noiseBox/wood.jpg") bottom center no-repeat;
    background-size: cover;
    /*background-color: #414141;*/
    display: flex;
}

.noiseBoxContent.normal {
    flex-direction: column;
    height: 100%;
    width: 30%;
    left: -31%;
    padding: 1%;
}

.noiseBoxContent.mobile {
    /*flex-direction: row;*/
    height: 20%;
    width: 100%;
    bottom: -21%;
    padding: 2% 0 0 2%;
}





.noise{
    background: transparent url("../img/noiseBox/tube_dark.png") bottom center no-repeat;
    background-size: contain;
    color: white;
    padding: 1%;
    /*background-color: #929292;*/
}


.noise.focus{
    background: transparent url("../img/noiseBox/tube_off.png") bottom center no-repeat;
    background-size: contain;
}

.noise.playing{
    color: black;
    background: transparent url("../img/noiseBox/tube_active.gif") bottom center no-repeat;
    background-size: contain;
}

.noise.normal{
    margin: 3% auto 3% auto;
    text-align: center;
    width: 100%;
    height: 10%;
}

.noise.mobile{
    /*background-color: red;*/
    margin: 0 1% 0 1%;
    text-align: center;
    width: 100%;
    height: 30%;
}


.noiseTitle.short{
    margin-top: 9%;
}
.noiseTitle.long{
    margin-top: 1%;
}
.noiseTitle.veryLong{
    margin-top: 5%;
}

.playButton{
    background: transparent url("../img/noiseBox/pausePlayButton_up.png") bottom center no-repeat;
    background-size: contain;
    border-radius: 0.1em;
    cursor: pointer;
    display: block;
}

.playButton.normal{
    margin: 13% auto 0 auto;
    padding-top: 4%;
    width: 56%;
    height: 8%;

}
.playButton.mobile{
    border-radius: 3%;
    background-color: greenyellow;
    position: absolute;
    margin-top: 7.5%;
    height: 42.5%;
    width: 17%;
}

.playButton:active{
    background: transparent url("../img/noiseBox/pausePlayButton_down.png") bottom center no-repeat;
    background-size: contain;
    /*background-color: #ee0000;*/
}

/*.playButton.playing{*/
    /*background-color: #008800;*/
/*}*/
/*.playButton.playing:active{*/
    /*background-color: #00aa00;*/
/*}*/


