/*PUT SOMEWHERE ELSE WHEN CAN BE BOTHERED*/

.galleryContent{
    width: 100%;
    height: 100%;
}

.pictureDiv {
    width: 90%;
    height: 90%;

    margin: 3% auto 0 auto;
    -webkit-background-size: contain;
    background-size: contain;
}


#oneCity{
    background: white url("../img/ONE_CITY.jpg") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}


#mirrorButtonDiv {
    width: fit-content;
    margin: 15px auto 0 auto;

}

.testile{
    height: 60px;
    width: 60px;
    float: left;
}

.whitetile{
    background: greenyellow;
}

.blacktile{
    background: black;
}

#one{
    margin: 2em auto 0 auto;
    background: greenyellow;
    /*height: 300px;*/
    /*width: 300px;*/
}

#two{
    /*width: 300px;*/
    margin: 2em auto 0 auto;
}



.tile {
    float: left;
    /*margin-left: -0.25px;*/
}

.bgc0{
    background-color: #000;
}

.bgc1{
    background-color: #000;
    /*background-color: #222;*/
}

.bgc2{
    background-color: #000;
    /*background-color: #444;*/
}

.bgc3{
    background-color: #666;
}

.bgc4{
    background-color: #666;
    /*background-color: #888;*/
}

.bgc5{
    background-color: #666;
    /*background-color: #aaa;*/
}

.bgc6{
    background-color: #fff;
    /*background-color: #ccc;*/
}

.bgc7{
    background-color: #fff;
}

