.gameContent h2{
    margin-top: 0;
}


.square.winner{
    background: limegreen;
}

.square:focus {
    outline: none;
}


.status {
    margin-bottom: 10px;
}

.boardWrapper {
    width: fit-content;
    min-width: 297px;
    padding: 4em 0 3em 0;
    margin: auto;
}

.board {
    width: fit-content;
    margin: auto;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: right;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.gridSizeButton {
    float: right;
}

.game {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}


.game-info {
    /*margin-left: 20px;*/
    margin-right: 20px;
    /*float: right;*/
}
