body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.wrapper{
  margin: 0 auto;
}


.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}

.content {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  width: 100%;
  height: 100%;
}

.content.normal{
    left: 15%;
}

#planetofhands {
  text-align: center;
  overflow: paged-x;
}

.sliderDiv {
  margin-top: 3em;
  width: 100%;
}

#slider {
  width: 12em;
}


.kbd-navigation .square:focus {
  background: #ddd;
}

.repoUrl{
  color: #666666;
  margin-left: 2%;
  font-weight: bold;
}

.genericExitDivLeft{
  cursor: pointer;
  position: absolute;
  opacity: 0.3;
  margin: 85% 0 0 0;
  height: 15%;
  width: 30%;
  /*background: #ff00d3;*/
  background: transparent url("./img/wigglearrow.gif") no-repeat;
  background-size: 100% 100%;
}
